body{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sketchPad {
    background-color: rgb(219, 32, 32);
    border-radius: 8px;
    border: 1px solid rgb(55, 0, 0);
    padding: 24px;
    width: 320px;
    height: 320px;
}
.row{
    display: flex;
}

.row div {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    background-color: white;
    flex: 1 0 auto;
    border: .3px solid rgb(245, 240, 240);
}

#fill{
    background-color: rgb(37, 0, 0);
    border: none;
}